SERVER_ADDR=0.0.0.0:8000
MODE=release

POSTGRES_USER=calculator
POSTGRES_PASSWORD=test12345
POSTGRES_HOST=database
POSTGRES_PORT=5432
POSTGRES_DB=calculator

RABBIT_USER=guest
RABBIT_PASSWORD=guest
RABBIT_HOST=rabbitmq
RABBIT_PORT=5672
RABBIT_TASK_QUEUE=CalculatorTaskQueue1
RABBIT_AGENT_QUEUE=CalculatorAgentQueue1

AGENT_TIMEOUT=60
AGENT_PING=6
AGENT_RESOLVE_TIME=6
AGENT_THREADS=1
RABBIT_URL=amqp://${RABBIT_USER}:${RABBIT_PASSWORD}@${RABBIT_HOST}:${RABBIT_PORT}
AGENT_WAIT=10
AGENT_SCALLING=5

JWT_EXPIRES=86400
JWT_SECRET=P@s$0rd123